In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'encoded_test.csv')
df

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,54273,54273,35,542,2014,73000,Gasoline,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,263,9,1,Yes
1,54274,54274,26,1294,2015,128032,Gasoline,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,226,12,1,Yes
2,54275,54275,35,328,2015,51983,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,28,129,1,Yes
3,54276,54276,25,1373,2018,29500,Gasoline,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,263,129,0,Yes
4,54277,54277,4,1775,2020,90000,Gasoline,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,263,12,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36178,90451,90451,15,1830,2019,4500,Gasoline,420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,10-Speed A/T,107,12,1,Yes
36179,90452,90452,9,1541,2004,185000,Gasoline,295.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,4-Speed A/T,201,63,0,Yes
36180,90453,90453,51,493,2011,116000,Gasoline,132.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,5-Speed M/T,13,63,1,Yes
36181,90454,90454,27,1122,2019,39000,Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,19,95,1,Yes
36182,90455,90455,9,1639,2012,162731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,19,12,0,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36183 entries, 0 to 36182
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    36183 non-null  int64
 1   id            36183 non-null  int64
 2   brand         36183 non-null  int64
 3   model         36183 non-null  int64
 4   model_year    36183 non-null  int64
 5   milage        36183 non-null  int64
 6   fuel_type     36183 non-null  object
 7   engine        36183 non-null  object
 8   transmission  36183 non-null  object
 9   ext_col       36183 non-null  int64
 10  int_col       36183 non-null  int64
 11  accident      36183 non-null  int64
 12  clean_title   36183 non-null  object
dtypes: int64(9), object(4)
memory usage: 3.6+ MB

In [4]:
df.duplicated().sum()

0

In [5]:
df.isnull().sum()

Unnamed: 0      0
id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
dtype: int64

In [6]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          33033
Hybrid             1112
E85 Flex Fuel      1018
Diesel              671
–                   197
Plug-In Hybrid      148
not supported         4
Name: count, dtype: int64

In [7]:
df.loc[df['fuel_type']=='not supported']

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
6744,61017,61017,14,565,2018,83150,not supported,166.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,263,63,0,Yes
8135,62408,62408,51,1060,2016,145000,not supported,151.0HP Electric Motor Hydrogen Fuel,A/T,226,12,1,Yes
13635,67908,67908,51,1060,2016,40000,not supported,151.0HP Electric Motor Hydrogen Fuel,A/T,263,12,1,Yes
24592,78865,78865,51,1061,2018,44000,not supported,182.0HP Electric Motor Hydrogen Fuel,A/T,107,12,0,Yes

In [8]:
df['fuel_type'].loc[df['id']==61017] = 'Gasoline'
df['fuel_type'].loc[df['id']==62408] = 'Hydrogen'
df['fuel_type'].loc[df['id']==67908] = 'Hydrogen'
df['fuel_type'].loc[df['id']==78865] = 'Hydrogen'

C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1630059839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['id']==61017] = 'Gasoline'
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1630059839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['id']==62408] = 'Hydrogen'
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1630059839.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['id']==67908] = 'Hydrogen'
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1630059839.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['id']==78865] = 'Hydrogen'

In [9]:
df['fuel_type'].loc[df['fuel_type']=='–']=-1
df['fuel_type'].loc[df['fuel_type']=='Gasoline']=2
df['fuel_type'].loc[df['fuel_type']=='Hybrid']=1
df['fuel_type'].loc[df['fuel_type']=='E85 Flex Fuel']=0
df['fuel_type'].loc[df['fuel_type']=='Diesel']=3
df['fuel_type'].loc[df['fuel_type']=='Plug-In Hybrid']=4
df['fuel_type'].loc[df['fuel_type']=='Hydrogen']=5

C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='–']=-1
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='Gasoline']=2
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='Hybrid']=1
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='E85 Flex Fuel']=0
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='Diesel']=3
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='Plug-In Hybrid']=4
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\1497594983.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type'].loc[df['fuel_type']=='Hydrogen']=5

In [10]:
df['fuel_type'].value_counts()

fuel_type
2     33034
1      1112
0      1018
3       671
-1      197
4       148
5         3
Name: count, dtype: int64

In [11]:
df.head()

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,54273,54273,35,542,2014,73000,2,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,263,9,1,Yes
1,54274,54274,26,1294,2015,128032,2,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,226,12,1,Yes
2,54275,54275,35,328,2015,51983,2,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,28,129,1,Yes
3,54276,54276,25,1373,2018,29500,2,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,263,129,0,Yes
4,54277,54277,4,1775,2020,90000,2,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,263,12,0,Yes

In [12]:
df['litre'] = df['engine'].str.extract(r'(\d+\.\d+|\d+)(?=L)', expand=False).fillna(-1).astype(float)
df.loc[df['litre']==-1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 405 entries, 89 to 36010
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    405 non-null    int64
 1   id            405 non-null    int64
 2   brand         405 non-null    int64
 3   model         405 non-null    int64
 4   model_year    405 non-null    int64
 5   milage        405 non-null    int64
 6   fuel_type     405 non-null    object
 7   engine        405 non-null    object
 8   transmission  405 non-null    object
 9   ext_col       405 non-null    int64
 10  int_col       405 non-null    int64
 11  accident      405 non-null    int64
 12  clean_title   405 non-null    object
 13  litre         405 non-null    float64
dtypes: float64(1), int64(9), object(4)
memory usage: 47.5+ KB

In [13]:
pattern1 = r'A/T|Automatic'
pattern2 = r'M/T|Manual|Mt'
df['automatic'] = np.where(df['transmission'].str.contains(pattern1), 1, 
                       np.where(df['transmission'].str.contains(pattern2), 0, np.nan))
df.head()

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,litre,automatic
0,54273,54273,35,542,2014,73000,2,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,263,9,1,Yes,3.5,1.0
1,54274,54274,26,1294,2015,128032,2,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,226,12,1,Yes,3.5,1.0
2,54275,54275,35,328,2015,51983,2,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,28,129,1,Yes,2.0,1.0
3,54276,54276,25,1373,2018,29500,2,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,263,129,0,Yes,5.0,NaN
4,54277,54277,4,1775,2020,90000,2,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,263,12,0,Yes,3.0,1.0

In [14]:
df['transmission'].loc[df['automatic'].isna()].value_counts()

transmission
Transmission w/Dual Shift Mode    4266
CVT Transmission                   485
Transmission Overdrive Switch       41
–                                    3
7-Speed                              3
F                                    3
SCHEDULED FOR OR IN PRODUCTION       2
2                                    1
6-Speed                              1
Name: count, dtype: int64

In [15]:
df['automatic'].loc[df['transmission']=='Transmission w/Dual Shift Mode']=2
df['automatic'].loc[df['transmission']=='CVT Transmission']=3
df['automatic'].loc[df['transmission']=='Transmission Overdrive Switch']=4
df['automatic'].loc[df['transmission'].isin(['7-Speed','6-Speed','–','SCHEDULED FOR OR IN PRODUCTION','2'])]=-1
df['automatic'].loc[df['transmission']=='CVT-F']=5
df['automatic'].loc[df['transmission']=='Variable']=6
df['automatic'].loc[df['transmission']=='F']=7

C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='Transmission w/Dual Shift Mode']=2
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='CVT Transmission']=3
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='Transmission Overdrive Switch']=4
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission'].isin(['7-Speed','6-Speed','–','SCHEDULED FOR OR IN PRODUCTION','2'])]=-1
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='CVT-F']=5
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='Variable']=6
C:\Users\arjun\AppData\Local\Temp\ipykernel_5272\2521953555.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['automatic'].loc[df['transmission']=='F']=7

In [16]:
df['transmission'].loc[df['automatic'].isna()].value_counts()

Series([], Name: count, dtype: int64)

In [17]:
df['hp'] = df['engine'].str.extract(r'(\d+)', expand=False).fillna(-1).astype(int)
df.loc[df['hp']==-1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 239 entries, 89 to 36010
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    239 non-null    int64
 1   id            239 non-null    int64
 2   brand         239 non-null    int64
 3   model         239 non-null    int64
 4   model_year    239 non-null    int64
 5   milage        239 non-null    int64
 6   fuel_type     239 non-null    object
 7   engine        239 non-null    object
 8   transmission  239 non-null    object
 9   ext_col       239 non-null    int64
 10  int_col       239 non-null    int64
 11  accident      239 non-null    int64
 12  clean_title   239 non-null    object
 13  litre         239 non-null    float64
 14  automatic     239 non-null    float64
 15  hp            239 non-null    int32
dtypes: float64(2), int32(1), int64(9), object(4)
memory usage: 30.8+ KB

In [18]:
df['speed'] = df['transmission'].str.extract(r'(\d+)-Speed', expand=False).fillna(-1).astype(float)
df.loc[df['speed']==-1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 16706 entries, 0 to 36182
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    16706 non-null  int64
 1   id            16706 non-null  int64
 2   brand         16706 non-null  int64
 3   model         16706 non-null  int64
 4   model_year    16706 non-null  int64
 5   milage        16706 non-null  int64
 6   fuel_type     16706 non-null  object
 7   engine        16706 non-null  object
 8   transmission  16706 non-null  object
 9   ext_col       16706 non-null  int64
 10  int_col       16706 non-null  int64
 11  accident      16706 non-null  int64
 12  clean_title   16706 non-null  object
 13  litre         16706 non-null  float64
 14  automatic     16706 non-null  float64
 15  hp            16706 non-null  int32
 16  speed         16706 non-null  float64
dtypes: float64(3), int32(1), int64(9), object(4)
memory usage: 2.2+ MB

In [19]:
df.loc[df['engine']=='–']

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,litre,automatic,hp,speed
89,54362,54362,51,932,2023,7900,-1,–,10-Speed A/T,108,129,1,Yes,-1.0,1.0,-1,10.0
543,54816,54816,38,23,1995,94000,-1,–,5-Speed M/T,263,12,0,Yes,-1.0,0.0,-1,5.0
638,54911,54911,11,1321,2000,188000,-1,–,A/T,226,63,0,Yes,-1.0,1.0,-1,-1.0
947,55220,55220,11,435,2010,100100,-1,–,A/T,28,12,0,Yes,-1.0,1.0,-1,-1.0
1189,55462,55462,8,531,1994,89144,-1,–,A/T,263,9,1,Yes,-1.0,1.0,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35406,89679,89679,11,436,2016,7928,-1,–,6-Speed M/T,19,103,1,Yes,-1.0,0.0,-1,6.0
35428,89701,89701,11,442,2012,33700,-1,–,5-Speed A/T,19,12,1,Yes,-1.0,1.0,-1,5.0
35560,89833,89833,22,1736,1996,100500,-1,–,5-Speed M/T,176,12,1,Yes,-1.0,0.0,-1,5.0
35869,90142,90142,33,1046,2016,89000,-1,–,A/T,19,12,0,Yes,-1.0,1.0,-1,-1.0
36010,90283,90283,14,660,1993,195000,-1,–,A/T,28,63,1,Yes,-1.0,1.0,-1,-1.0

In [20]:
df.head()

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,litre,automatic,hp,speed
0,54273,54273,35,542,2014,73000,2,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,263,9,1,Yes,3.5,1.0,302,-1.0
1,54274,54274,26,1294,2015,128032,2,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,226,12,1,Yes,3.5,1.0,275,8.0
2,54275,54275,35,328,2015,51983,2,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,28,129,1,Yes,2.0,1.0,241,7.0
3,54276,54276,25,1373,2018,29500,2,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,263,129,0,Yes,5.0,2.0,518,-1.0
4,54277,54277,4,1775,2020,90000,2,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,263,12,0,Yes,3.0,1.0,335,8.0

In [21]:
import re

# Define a function to extract the value before 'Cylinder'
def extract_cylinder_info(text):
    match = re.search(r'(\b(?:Straight\s*\d+|V\d+|\d+))\s+Cylinder', text, re.IGNORECASE)
    if match:
        return match.group(1)
    else:
        return '-1'

# Apply the function to create a new column
df['Cylinder Info'] = df['engine'].apply(extract_cylinder_info)

In [22]:
df.loc[df['engine'].str.contains('V6', case=False), 'Cylinder Info'] = 'V6'
df.loc[df['engine'].str.contains('V4', case=False), 'Cylinder Info'] = 'V4'
df.loc[df['engine'].str.contains('V8', case=False), 'Cylinder Info'] = 'V8'
df.loc[df['engine'].str.contains('I4', case=False), 'Cylinder Info'] = 'I4'
df.loc[df['engine'].str.contains('I3', case=False), 'Cylinder Info'] = 'I3'
df.loc[df['engine'].str.contains('H6', case=False), 'Cylinder Info'] = 'H6'
df.loc[df['engine'].str.contains('I6', case=False), 'Cylinder Info'] = 'Straight 6'
df.loc[df['engine'].str.contains('W12', case=False), 'Cylinder Info'] = 'W12'
df.loc[df['engine'].str.contains('V12', case=False), 'Cylinder Info'] = 'V12'
df.loc[df['engine'].str.contains('V10', case=False), 'Cylinder Info'] = 'V10'
df.loc[df['engine'].str.contains('H4', case=False), 'Cylinder Info'] = 'H4'
df.loc[df['engine'].str.contains('W16', case=False), 'Cylinder Info'] = 'W16'
df.loc[df['engine'].str.contains('V-8', case=False), 'Cylinder Info'] = 'V-8'

In [23]:
df.loc[df['engine'].str.contains('Electric Motor Electric Fuel System', case=False), 'Cylinder Info'] = 'EV'
df.loc[df['engine'].str.contains('Electric', case=False), 'Cylinder Info'] = 'EV'
df.loc[df['engine'].str.contains('Electric Motor Electric Hydrogen Fuel', case=False), 'Cylinder Info'] = 'EV'
df.loc[df['engine'].str.contains('Rotary engine Gasoline Fuel', case=False), 'Cylinder Info'] = '-3'

In [24]:
df.loc[df['engine'].str.contains('I-4', case=False), 'Cylinder Info'] = 'I4'

In [25]:
df['engine'].loc[df['Cylinder Info']=='-1'].value_counts()

engine
–                         227
2.0 Liter Turbo            10
3.0 Liter Turbo             8
3.5 Liter                   5
2.5L                        5
2.0 Liter                   4
3.0 Liter                   4
2.0 Liter TFSI              3
4.0L                        2
3.0L                        2
3.6 Liter DOHC              2
3.0 Liter TFSI              1
3.0 Liter GTDI              1
2.0 Liter Supercharged      1
2.4 Liter                   1
3.6 Liter                   1
Name: count, dtype: int64

In [26]:
df.loc[df['Cylinder Info']=='4', 'Cylinder Info'] = 'I4'
df.loc[df['Cylinder Info']=='3', 'Cylinder Info'] = 'I3'
df.loc[df['Cylinder Info']=='Straight 6', 'Cylinder Info'] = 'I6'
df.loc[df['Cylinder Info']=='6', 'Cylinder Info'] = 'I6'
df.loc[df['Cylinder Info']=='V-8', 'Cylinder Info'] = 'V8'

In [27]:
df['Cylinder Info'].unique()

array(['V6', 'I4', '8', 'I6', 'EV', '-1', 'V12', '12', 'V8', '10', '5',
       'W16', 'V10', 'I3', '-3', 'H6', 'W12', 'H4'], dtype=object)

In [28]:
# Define a function to extract the phrase containing 'engine'
def extract_engine_phrase(text):
    match = re.search(r'(\b\w+\b\s*Engine)', text, re.IGNORECASE)
    if match:
        return match.group(1)
    else:
        return '-1'

df['engine type'] = df['engine'].apply(extract_engine_phrase)

In [29]:
# Define a function to extract the text after 'V'
def extract_after_v(text):
    match = re.search(r'V\s*(.*)', text)
    if match:
        return match.group(1)
    else:
        return '-1'

# Apply the function to create a new column
df['dummy'] = df['engine'].apply(extract_after_v)
df.loc[df['dummy'] != '-1', 'engine type'] = df['dummy']

# Drop the helper column
df = df.drop(columns=['dummy'])

In [30]:
df.loc[df['engine'].str.contains('Electric Motor'), 'engine type'] = 'Electric Motor'

In [31]:
# Define a function to extract the phrase starting with 'Liter'
def extract_from_liter(text):
    match = re.search(r'Liter.*', text)
    if match:
        return match.group(0)
    else:
        return '-1'

# Apply the function and update the existing column conditionally
df['dummy'] = df['engine'].apply(extract_from_liter)
df.loc[df['dummy'] != '-1', 'engine type'] = df['dummy']

# Drop the helper column
df = df.drop(columns=['dummy'])

In [32]:
df.loc[df['engine'].str.contains('Cylinder'), 'engine type'] = 'Cylinder Engine'
df.loc[df['engine'].str.contains('Standard Range Battery'), 'engine type'] = 'Standard Range Battery'

In [33]:
df['engine'].loc[df['engine type']=='-1'].value_counts()

engine
–                                                   227
2.5L                                                  5
Electric                                              3
4.0L                                                  2
3.0L                                                  2
Intercooled Turbo Premium Unleaded I-4 2.0 L/122      1
Name: count, dtype: int64

In [34]:
df['engine type'].unique()

array(['Cylinder Engine', '6 24V GDI DOHC', '6 24V PDI DOHC Twin Turbo',
       '6 24V PDI DOHC', '6 24V MPFI DOHC', '-1',
       '12 48V GDI DOHC Twin Turbo', 'GDI DOHC Turbo', 'GDI DOHC',
       '8 16V GDI OHV', '6 24V MPFI DOHC Hybrid', 'Liter Turbo',
       'GDI DOHC Twin Turbo', 'Electric Motor',
       '8 32V GDI DOHC Twin Turbo', 'MPFI DOHC', '8 32V MPFI DOHC',
       '6 24V GDI DOHC Twin Turbo', '6 24V GDI SOHC', '10 40V PDI DOHC',
       '8 16V MPFI OHV', '6 24V GDI DOHC Turbo', '',
       'DDI OHV Turbo Diesel', '8 32V GDI DOHC', 'GDI SOHC Turbo',
       'PDI DOHC', '8 32V DDI OHV Turbo Diesel', 'PDI DOHC Turbo',
       'Rotary engine', '8 32V MPFI DOHC Twin Turbo',
       '8 16V MPFI OHV Flexible Fuel', '6 24V PDI DOHC Twin Turbo Hybrid',
       'PDI DOHC Twin Turbo', 'MPFI DOHC Hybrid', '10 40V GDI DOHC',
       '12 48V MPFI DOHC', 'GDI DOHC Turbo Hybrid',
       '8 32V GDI DOHC Supercharged', 'GDI DOHC Flexible Fuel',
       '12 48V GDI DOHC', '8 32V PDI DOHC', '6 24V GDI DOHC Supercharged',
       '8 16V MPFI SOHC Flexible Fuel', '6 24V PDI DOHC Hybrid',
       'Liter TFSI', 'Liter', 'GDI DOHC Turbo Flexible Fuel',
       'GDI DOHC Hybrid', '6', '8 16V GDI OHV Supercharged',
       '8 32V DDI OHV Twin Turbo Diesel', '6 24V MPFI DOHC Flexible Fuel',
       'DDI DOHC Turbo Diesel', '8 32V MPFI DOHC Supercharged',
       'MPFI SOHC', '8', 'Liter GTDI', 'Liter Supercharged', 'Liter DOHC',
       '6 GDI DOHC'], dtype=object)

In [35]:
df.loc[df['engine type'].isin(['6','8','Liter',''])]

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,litre,automatic,hp,speed,Cylinder Info,engine type
854,55127,55127,33,379,2021,2636,2,2.5L I4 16V,6-Speed Automatic,138,12,1,Yes,2.5,1.0,2,6.0,I4,
6518,60791,60791,51,1632,2019,36283,2,3.5 Liter,Automatic,226,63,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
9773,64046,64046,25,1370,2019,1025,1,V6,Automatic,93,12,1,Yes,-1.0,1.0,6,-1.0,V6,6
13049,67322,67322,17,1171,2010,22655,2,3.5 Liter,Automatic,91,22,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
13512,67785,67785,33,379,2021,62377,2,2.5L I4 16V,6-Speed Automatic,126,12,0,Yes,2.5,1.0,2,6.0,I4,
14442,68715,68715,33,1040,2021,33481,2,2.5L I4 16V,6-Speed Automatic,237,12,1,Yes,2.5,1.0,2,6.0,I4,
15851,70124,70124,33,379,2021,26468,2,2.5L I4 16V,6-Speed Automatic,190,103,1,Yes,2.5,1.0,2,6.0,I4,
17347,71620,71620,33,1048,2021,62257,2,2.5L I4 16V,6-Speed Automatic,234,12,1,Yes,2.5,1.0,2,6.0,I4,
17787,72060,72060,25,1416,2020,59355,2,V8,Automatic,217,55,1,Yes,-1.0,1.0,8,-1.0,V8,8
17819,72092,72092,33,1039,2016,81696,2,2.5L I4 16V,6-Speed Automatic,237,12,1,Yes,2.5,1.0,2,6.0,I4,
19589,73862,73862,25,1379,2020,30424,1,2.0 Liter,A/T,226,12,1,Yes,-1.0,1.0,2,-1.0,-1,Liter
20583,74856,74856,33,1040,2018,16184,2,2.5L I4 16V,6-Speed Automatic,237,103,1,Yes,2.5,1.0,2,6.0,I4,
20779,75052,75052,25,1415,2019,76422,2,2.0 Liter,Automatic,263,103,1,Yes,-1.0,1.0,2,-1.0,-1,Liter
21881,76154,76154,33,1041,2021,24114,2,2.5L I4 16V,6-Speed Automatic,237,49,0,Yes,2.5,1.0,2,6.0,I4,
22496,76769,76769,25,1352,2022,31875,2,3.0 Liter,Automatic,19,12,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
22622,76895,76895,25,1352,2022,6204,2,3.0 Liter,Automatic,45,132,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
23243,77516,77516,35,1058,2020,25568,2,2.0 Liter,Automatic,263,121,1,Yes,-1.0,1.0,2,-1.0,-1,Liter
23892,78165,78165,21,684,2023,3415,2,3.0 Liter,Automatic,215,12,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
24277,78550,78550,21,684,2023,2284,2,2.0 Liter,Automatic,215,12,1,Yes,-1.0,1.0,2,-1.0,-1,Liter
27755,82028,82028,26,559,2016,24364,2,3.5 Liter,Automatic,86,39,0,Yes,-1.0,1.0,3,-1.0,-1,Liter
28290,82563,82563,33,377,2021,21478,2,2.5L I4 16V,6-Speed Automatic,237,130,1,Yes,2.5,1.0,2,6.0,I4,
28993,83266,83266,26,1294,2020,38383,2,3.5 Liter,Automatic,165,107,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
30540,84813,84813,23,1577,2021,10917,2,2.4 Liter,Automatic,19,12,1,Yes,-1.0,1.0,2,-1.0,-1,Liter
30561,84834,84834,51,1635,2020,35902,2,3.5 Liter,Automatic,246,22,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
34954,89227,89227,22,1735,2023,3534,1,3.6 Liter,Automatic,107,12,1,Yes,-1.0,1.0,3,-1.0,-1,Liter
35531,89804,89804,41,151,2020,1275,2,3.0 Liter,Automatic,28,12,1,Yes,-1.0,1.0,3,-1.0,-1,Liter

In [36]:
df.loc[df['engine type'].isin(['6','8','Liter','']), 'engine type'] = '-1'

In [37]:
# Define a function to remove the first character if it is numeric
def remove_first_numeric(text):
    if text and text[0].isdigit():
        return text[1:].strip()
    return text

# Apply the function to update the existing column
df['engine type'] = df['engine type'].apply(remove_first_numeric)

In [38]:
df.loc[df['engine type']=='0 40V GDI DOHC', 'engine type'] = '40V GDI DOHC'
df.loc[df['engine type']=='2 48V MPFI DOHC', 'engine type'] = '48V MPFI DOHC'
df.loc[df['engine type']=='2 48V GDI DOHC Twin Turbo', 'engine type'] = '48V GDI DOHC Twin Turbo'
df.loc[df['engine type']=='2 48V GDI DOHC', 'engine type'] = '48V GDI DOHC'
df.loc[df['engine type']=='0 40V PDI DOHC', 'engine type'] = '40V PDI DOHC'

In [39]:
# Define the function to remove the first word if the value starts with a numeric character
def remove_first_word_if_numeric(value):
    if value[0].isdigit():
        return ' '.join(value.split(' ')[1:])
    else:
        return value

# Apply the function to the 'engine_spec' column
df['engine type'] = df['engine type'].apply(remove_first_word_if_numeric)

In [40]:
df['engine type'].unique()

array(['Cylinder Engine', 'GDI DOHC', 'PDI DOHC Twin Turbo', 'PDI DOHC',
       'MPFI DOHC', '-1', 'GDI DOHC Twin Turbo', 'GDI DOHC Turbo',
       'GDI OHV', 'MPFI DOHC Hybrid', 'Liter Turbo', 'Electric Motor',
       'GDI SOHC', 'MPFI OHV', 'DDI OHV Turbo Diesel', 'GDI SOHC Turbo',
       'PDI DOHC Turbo', 'Rotary engine', 'MPFI DOHC Twin Turbo',
       'MPFI OHV Flexible Fuel', 'PDI DOHC Twin Turbo Hybrid',
       'GDI DOHC Turbo Hybrid', 'GDI DOHC Supercharged',
       'GDI DOHC Flexible Fuel', 'MPFI SOHC Flexible Fuel',
       'PDI DOHC Hybrid', 'Liter TFSI', 'GDI DOHC Turbo Flexible Fuel',
       'GDI DOHC Hybrid', 'GDI OHV Supercharged',
       'DDI OHV Twin Turbo Diesel', 'MPFI DOHC Flexible Fuel',
       'DDI DOHC Turbo Diesel', 'MPFI DOHC Supercharged', 'MPFI SOHC',
       'Liter GTDI', 'Liter Supercharged', 'Liter DOHC'], dtype=object)

In [41]:
# Define the function to extract voltage
def extract_voltage(value):
    match = re.search(r'(\d+)(?=V)', value)
    if match:
        return int(match.group(1))
    else:
        return -1

# Apply the function to create a new column
df['voltage'] = df['engine'].apply(extract_voltage)

In [42]:
df['voltage'].unique()

array([-1, 24, 48, 16, 64, 32, 40, 12], dtype=int64)

In [43]:
df['voltage'].value_counts()

voltage
-1     33908
 16      991
 24      929
 32      236
 48       64
 12       40
 40       13
 64        2
Name: count, dtype: int64

In [44]:
df.head()

,Unnamed: 0,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,litre,automatic,hp,speed,Cylinder Info,engine type,voltage
0,54273,54273,35,542,2014,73000,2,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,263,9,1,Yes,3.5,1.0,302,-1.0,V6,Cylinder Engine,-1
1,54274,54274,26,1294,2015,128032,2,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,226,12,1,Yes,3.5,1.0,275,8.0,V6,Cylinder Engine,-1
2,54275,54275,35,328,2015,51983,2,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,28,129,1,Yes,2.0,1.0,241,7.0,I4,Cylinder Engine,-1
3,54276,54276,25,1373,2018,29500,2,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,263,129,0,Yes,5.0,2.0,518,-1.0,8,Cylinder Engine,-1
4,54277,54277,4,1775,2020,90000,2,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,263,12,0,Yes,3.0,1.0,335,8.0,I6,Cylinder Engine,-1

In [45]:
df.to_csv(r"C:\Users\arjun\Documents\Projects\KaggleX Mentorship\moded_test.csv")